In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [3]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [9]:
df.groupby(['Item']).sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [69]:
f= df.groupby(['Element', 'Area']).sum()
f

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]

In [38]:
df.groupby(['Element'])

In [14]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [16]:
df.shape

(60943, 12)

In [47]:
  df.groupby(['Area', 'Y2017']).sum()

                   Area Code  Item Code  Element Code    Y2014    Y2015  \
Area     Y2017
Algeria  -81.0             8       5536         10144     60.0    -10.0
         -47.0             8       5438         10144    312.0     70.0
         -11.0             4       2563          5072    -29.0    -11.0
         -6.0              4       2680          5072      1.0      4.0
         -5.0             12       8257         15412    -24.0    -24.0
...                      ...        ...           ...      ...      ...
Zimbabwe  1891.0         181       2901           664   1986.0   1912.0
          2209.0         181       2905          5301   2013.0   1851.0
          3101.0         724      10888         21624  15424.0  13392.0
          3452.0         362       5444         10262   7570.0   7104.0
          14237.0        181       2501           511  13587.0  13815.0

                     Y2016    Y2018
Area     Y2017
Algeria  -81.0      -121.0      0.0
         -47.0       122.0   -180.0
         -11.0        23.0     34.0
         -6.0          1.0      0.0
         -5.0        -28.0     -4.0
...                    ...      ...
Zimbabwe  1891.0    1885.0   1908.0
          2209.0    1940.0   2071.0
          3101.0   13932.0  14240.0
          3452.0    7456.0   7338.0
          14237.0  14030.0  14439.0

[14773 rows x 7 columns]

In [40]:
f.head(40)

                                                   Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                         464     311204
                         Angola                          826     316106
                         Benin                          6148     310985
                         Botswana                       2340     313766
                         Burkina Faso                  27494     316106
                         Cabo Verde                     4025     308467
                         Cameroon                       3808     318888
                         Central African Republic       4292     310780
                         Chad                           4641     318888
                         Comoros                         405      24911
                         Congo                          5474     318888
                         Côte d'Ivoire                 12733     318888
                         Djibouti                       8208     305885
                         Egypt                          6962     316347
                         Eswatini                      24453     313766
                         Ethiopia                      28322     318888
                         Ethiopia PDR                    434      19364
                         Gabon                          8510     308447
                         Gambia                         8325     297481
                         Ghana                          9558     316347
                         Guinea                        10620     316106
                         Guinea-Bissau                 19600     300145
                         Kenya                         13566     318888
                         Lesotho                       14152     311023
                         Liberia                       14268     311209
                         Madagascar                    15351     318888
                         Malawi                        15470     318888
                         Mali                          15162     305434
                         Mauritania                    15368     303534
                         Mauritius                     15755     308619
                         Morocco                       16874     316347
                         Mozambique                    17136     318888
                         Namibia                       17052     311023
                         Niger                         18644     316106
                         Nigeria                       18921     318888
                         Rwanda                        21896     318888
                         Sao Tome and Principe         21423     297385
                         Senegal                       23205     318888
                         Seychelles                     2156      30455
                         Sierra Leone                  22261     303366

                                                   Element Code      Y2014  \
Element                  Area
Domestic supply quantity Algeria                         614916   83755.94
                         Angola                          625518   53786.91
                         Benin                           614916   29864.06
                         Botswana                        620217    2670.84
                         Burkina Faso                    625518   24637.15
                         Cabo Verde                      609615     753.18
                         Cameroon                        630819   59592.04
                         Central African Republic        614916    5289.71
                         Chad                            630819   13867.08
                         Comoros                          47709      10.67
                         Congo                           630819    7566.72
                         Côte d'Ivoire                   630819   48510.55
                         Djibouti                        604314    2622.86
                         Egypt                           625518  232162.37
                         Eswatini                        620217   12705.37
                         Ethiopia                        630819   96590.45
                         Ethiopia PDR                     37107       0.00
                         Gabon                           609615    4361.94
                         Gambia                          588411    2044.08
                         Ghana                           625518   85457.25
                         Guinea                          625518   22150.85
                         Guinea-Bissau                   593712    1846.48
                         Kenya                           630819   64815.05
                         Lesotho                         614916    1984.08
                         Liberia                         614916    4575.17
                         Madagascar                      630819   31578.76
                         Malawi                          630819   44620.78
                         Mali                            604314   30429.74
                         Mauritania                      599013   16614.79
                         Mauritius                       609615   10077.22
                         Morocco                         625518   79041.62
                         Mozambique                      630819   40674.14
                         Namibia                         614916    3877.99
                         Niger                           625518   25269.51
                         Nigeria                         630819  403779.24
                         Rwanda                          630819   16788.21
                         Sao Tome and Principe           588411     328.19
                         Senegal                         630819   16488.05
                         Seychelles                       58311      17.34
                         Sierra Leone                    599013   14583.29

                                                       Y2015      Y2016  \
Element                  Area
Domestic supply quantity Algeria                    85972.86   87157.61
                         Angola                     55482.91   55719.68
                         Benin                      27661.67   30650.03
                         Botswana                    2916.14    2921.83
                         Burkina Faso               23658.17   24498.86
                         Cabo Verde                   744.22     739.07
                         Cameroon                   61517.69   63090.13
                         Central African Republic    5357.31    5415.16
                         Chad                       14155.62   15775.28
                         Comoros                       13.78      18.31
                         Congo                       7889.41    7937.52
                         Côte d'Ivoire              51810.70   51595.91
                         Djibouti                    3439.81    2651.70
                         Egypt                     245789.22  242549.83
                         Eswatini                   13138.20   12819.24
                         Ethiopia                   99959.11  103683.29
                         Ethiopia PDR                   0.00       0.00
                         Gabon                       4405.66    4453.31
                         Gambia                      2006.23    2071.45
                         Ghana                      87182.35   88026.46
                         Guinea                     22925.09   23483.50
                         Guinea-Bissau               1897.79    1969.71
                         Kenya                      66444.26   66481.30
                         Lesotho                     1872.95    1815.73
                         Liberia                     4747.46    4971.39
                         Madagascar                 31214.98   31732.08
                         Malawi                     43271.06   42638.26
                         Mali                       32954.30   37304.71
                         Mauritania                  4362.43    6474.53
                         Mauritius                  10825.47    9496.33
                         Morocco                    76200.05   82144.83
                         Mozambique                 39205.32   38789.24
                         Namibia                     3982.29    4015.11
                         Niger                      27863.79   29239.49
                         Nigeria                   406045.65  421684.00
                         Rwanda                     16915.91   16756.05
                         Sao Tome and Principe        324.01     339.60
                         Senegal                    18056.64   18226.52
                         Seychelles                    11.68       7.73
                         Sierra Leone               14670.00   12006.06

                                                       Y2017      Y2018
Element                  Area
Domestic supply quantity Algeria                    86810.42   90023.42
                         Angola                     57065.22   59590.22
                         Benin                      32132.90   31447.90
                         Botswana                    2579.85    3045.85
                         Burkina Faso               23276.16   25705.16
                         Cabo Verde                   758.00     731.00
                         Cameroon                   63470.74   64009.74
                         Central African Republic    5419.06    5567.06
                         Chad                       15643.73   15489.73
                         Comoros                       19.95      19.95
                         Congo                       8169.55    8524.55
                         Côte d'Ivoire              54827.64   55557.64
                         Djibouti                    2926.96    2760.96
                         Egypt                     247006.72  248477.72
                         Eswatini                   12896.81   13158.81
                         Ethiopia                  106704.72  107850.72
                         Ethiopia PDR                   0.00       0.00
                         Gabon                       4482.75    4608.75
                         Gambia                      2202.89    2221.89
                         Ghana                      94246.45  100558.45
                         Guinea                     24114.85   25292.85
                         Guinea-Bissau               2023.58    2049.58
                         Kenya                      63780.58   67202.58
                         Lesotho                     2138.73    2062.73
                         Liberia                     4859.99    4998.99
                         Madagascar                 31927.87   32596.87
                         Malawi                     45843.37   50937.37
                         Mali                       37446.02   40795.02
                         Mauritania                 21775.08   22053.08
                         Mauritius                   9399.36    8290.36
                         Morocco                    82839.07   86458.07
                         Mozambique                 40944.75   42581.75
                         Namibia                     3995.66    4019.66
                         Niger                      29003.84   31258.84
                         Nigeria                   417042.32  428323.32
                         Rwanda                     17216.52   17426.52
                         Sao Tome and Principe        350.73     349.73
                         Senegal                    19408.64   19374.64
                         Seychelles                    10.68      10.68
                         Sierra Leone               12544.68   12753.68

In [43]:
df['Area'].value_counts()

Kenya                          1560
Egypt                          1488
Nigeria                        1474
Côte d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64

In [44]:
f

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]

In [53]:
f

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]

In [54]:
f[:]

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]

In [58]:
f.loc[:, 'Y2015']

Element                   Area
Domestic supply quantity  Algeria                  85972.86
                          Angola                   55482.91
                          Benin                    27661.67
                          Botswana                  2916.14
                          Burkina Faso             23658.17
                                                     ...
Tourist consumption       Cabo Verde                   5.00
                          Egypt                      286.00
                          Kenya                       17.00
                          Mauritius                   29.00
                          Sao Tome and Principe       12.00
Name: Y2015, Length: 803, dtype: float64

In [62]:
f.loc[:]

                                                Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                      464     311204
                         Angola                       826     316106
                         Benin                       6148     310985
                         Botswana                    2340     313766
                         Burkina Faso               27494     316106
...                                                   ...        ...
Tourist consumption      Cabo Verde                  3150     241236
                         Egypt                       5546     251428
                         Kenya                      11172     261986
                         Mauritius                  12467     243857
                         Sao Tome and Principe      16019     223107

                                                Element Code     Y2014  \
Element                  Area
Domestic supply quantity Algeria                      614916  83755.94
                         Angola                       625518  53786.91
                         Benin                        614916  29864.06
                         Botswana                     620217   2670.84
                         Burkina Faso                 625518  24637.15
...                                                      ...       ...
Tourist consumption      Cabo Verde                   465390      3.00
                         Egypt                        486074    348.00
                         Kenya                        506758     17.00
                         Mauritius                    470561     26.00
                         Sao Tome and Principe        429193     10.00

                                                   Y2015     Y2016     Y2017  \
Element                  Area
Domestic supply quantity Algeria                85972.86  87157.61  86810.42
                         Angola                 55482.91  55719.68  57065.22
                         Benin                  27661.67  30650.03  32132.90
                         Botswana                2916.14   2921.83   2579.85
                         Burkina Faso           23658.17  24498.86  23276.16
...                                                  ...       ...       ...
Tourist consumption      Cabo Verde                 5.00      7.00      7.00
                         Egypt                    286.00     23.00     23.00
                         Kenya                     17.00     17.00     17.00
                         Mauritius                 29.00     31.00     31.00
                         Sao Tome and Principe     12.00     11.00     13.00

                                                   Y2018
Element                  Area
Domestic supply quantity Algeria                90023.42
                         Angola                 59590.22
                         Benin                  31447.90
                         Botswana                3045.85
                         Burkina Faso           25705.16
...                                                  ...
Tourist consumption      Cabo Verde                 7.00
                         Egypt                     23.00
                         Kenya                     17.00
                         Mauritius                 31.00
                         Sao Tome and Principe     12.00

[803 rows x 8 columns]